.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  &-question {
    display: none;
  }

  &-mt-80 {
    margin-top: 80px;
  }

  &-big {
    font-size: 16px;
    line-height: 24px;
    padding: 20px 35px 20px 50px;
    background-color: $blue;
    color: $gray-bg;

    .arrow {
      margin-left: 20px;
    }
  }

  &-outlined {
    border: 1px solid $blue;
    color: $blue;
    padding: 14px 48px;
  }

  &__scroll-down {
    padding: 40px 0 40px 40px;
    background-color: $gray-bg;
    color: $gray;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    span {
      height: 1px;
      width: 100px;
      background-color: $gray;
      margin-left: 21px;
    }
  }

  @media screen and (max-width: 1680px) {
    &-outlined {
      padding: 14px 35px;
    }
  }
  @media screen and (max-width: 1366px) {
    &-big {
      padding: 15px 25px 15px 35px;
    }
    &__scroll-down {
      padding: 30px 0 30px 30px;
    }
  }
  @media screen and (max-width: 992px) {
    &-mt-80 {
      margin-top: 60px;
    }
  }
  @media screen and (max-width: 576px) {
    &-mt-80 {
      margin-top: 60px;
    }
    &-question {
      display: flex;
      width: 100%;
      position: fixed;
      z-index: 3;
      bottom: 0;

      .btn-big {
        width: 100%;
        padding: 30px 45px 30px 65px;
      }
    }
  }
  @media screen and (max-width: 340px) {
    &-big {
      font-size: 14px;
    }
    &-question {
      .btn-big {
        padding: 20px 45px 20px 65px
      }
    }
  }
}