$blue: #1976D2;
$black: #232323;
$light-gray: #E0E0E0;
$gray: #BDBDBD;
$dark-gray: #E6ECF3;
$gray-bg: #F9F9F9;
$gray-text: #989898;
$white: #fff;
$font: 'Heebo', sans-serif;
$font-title-regular: 'Libre Caslon Text',serif;
$font-title-medium: 'Libre Caslon Display',serif;
