.header {
  position: fixed;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: background-color 0.4s;

  &__container {
    max-width: 1920px;
    margin: 0 auto;
  }

  &__logo__link {
    display: inline-flex;
  }

  &__inner {
    width: 100%;
    padding: 20px 120px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: background-color 0.3s;

    .header-fixed & {
      background-color: $white;
    }

    &:after {
      content: '';
      position: absolute;
      width: 80%;
      height: 1px;
      background-color: $white;
      left: 120px;
      bottom: 0;
    }
  }

  &__menu {
    margin-top: 3px;

    &__icon {
      display: none;
      position: relative;

      span {
        width: 24px;
        height: 2px;
        background-color: $blue;
        position: absolute;
        right: 0;
        top: 20px;

        &:last-child {
          top: 25px;
        }
      }
    }

    &__inner {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 3px solid $white;
    }

    &__item {
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
      color: $black;
    }
  }

  &-upper {
    width: 100%;
    background-color: $white;
    transition: background-color 0.3s;

    &__mobile {
      display: none;
    }

    .header-fixed & {
      background-color: $gray-bg;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 9px 120px 10px;
    }

    &__link {
      margin-right: 40px;
      display: inline-flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      svg {
        margin-right: 6px;
      }
    }

    &__nav, &__login {
      display: flex;
    }
  }

  @media screen and (max-width: 1680px) {
    &__menu {
      &__item {
        margin-right: 30px;
      }
    }
  }

  @media screen and (max-width: 1366px) {
    &__logo {
      .logo {
        width: 270px;
      }
    }
    &-upper {
      &__link {
        margin-right: 30px;
      }
    }
    &__menu {
      &__link {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    &__menu__item {
      margin-right: 20px;
    }
    &-upper__wrapper {
      padding: 9px 30px 10px
    }
    &__inner {
      padding: 20px 30px 0;

      &:after {
        left: 30px;
      }
    }
    &__logo .logo {
      width: 240px;
    }
  }

  @media screen and (max-width: 992px) {
    &-upper {
      display: none;
    }
    &__inner {
      &:after {
        width: 90%;
      }
      &:before{
        content: '';
        position: absolute;
        width: 15%;
        right: 0;
        bottom: 0;
        height: 3px;
        background-color: $white;
      }
    }
    &__menu {
      &__icon {
        display: flex;
        transition: tranform;
        &.active{

        }
      }

      &__wrapper {
        display: none;

        &.open {
          display: flex;
          position: absolute;
          top: 0;
          width: 100vw;
          left: 0;
          height: 100vh;
          background-color: white;
          padding: 85px 35px;
        }
      }
    }
  }
}
