.steps{
  background-color: $gray-bg;
  &__items{
    display: flex;
    width: 100%;
    margin: 80px -52px 0;
  }
  &__item{
    width: 33%;
    position: relative;
    margin: 0 52px;
    border: 1px solid $light-gray;
    border-radius: 160px;
    padding: 56px 46px 57px 86px;
    &__title{
      letter-spacing: 0.04em;
      margin-bottom: 12px;
    }
    &__number{
      position: absolute;
      left: -50px;
      width: 100px;
      height: 100px;
      top: calc(50% - 100px);
      transform: translateY(50%);
      background-color: $dark-gray;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }
  }
}